.env
**/node_modules
# Logs
logs
*.log
npm-debug.log*

# Build and Production outputs (תוצרי בנייה של הפרונטאנד)
dist/
build/
.next/

# IDE and Editors (הגדרות אישיות של עורך הקוד שלך)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files (קבצי מערכת הפעלה מיותרים)
.DS_Store
Thumbs.db