PORT=YOUR_PORT
DB_PORT=YOUR_DB_PORT
DB_HOST=YOUR_DB_HOST
DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
JWT_SECRET=YOUR_JWT_SECRET
JWT_EXPIRES_IN=YOUR_JWT_EXPIRES_IN
ADMIN_PHONE=admin
ADMIN_NAME=Admin
ADMIN_ROLE=admin
NODE_ENV=YOUR_NODE_ENV